@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body {
    background-image: url('/images/rapbattlecast-bg.png');
    background-size: cover;
    background-position: center top;
    padding-top: 0.0625rem;
    padding-bottom: 0.0625rem;
}